{% extends 'base.html' %}
{% block titulo %}Index{% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Lista de libros
    </div>
    <div class="card-body">
        <div class="card-title">Libros</div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td><img src="{{ libro.imagen.url }} " style="height: 50px; width: 60px;"></td>
                    <td>{{ libro.descripcion }}</td>
                    <td>
                        <a class=" btn btn-warning me-3" href="{% url 'editar' %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'eliminar' libro.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}